h1{
    padding: 30px;
    text-align: center;
}
.schedule-block{
    display: flex;
    flex-direction: column;
    border-bottom-style: solid;
    border-bottom-color: #484848;
    margin-bottom: 50px;
}

.time{
    margin: 10px;
}
.main-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delete-time-btn, .update-time-btn{
    margin: 10px;
    width: 200px;
}

.testing-schedule{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2px;
}


