h1{
    padding: 30px;
    text-align: center;
}
.schedule-block{
    display: flex;
    flex-direction: column;
    border-bottom-style: solid;
    border-bottom-color: #484848;
    margin-bottom: 50px;
}

.time{
    margin: 10px;
}
.main-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delete-time-btn, .update-time-btn{
    margin: 10px;
    width: 200px;
}

.testing-schedule{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2px;
}

.add-new-schedule-ddl{
    display: flex;
    justify-content: flex-end;
}

#input-boxes{
    display: flex;
    flex-direction: column;
}

#submit-testers-btn{
    width: 50%;
    align-self: center;
    margin: 20px;
}

#input-boxes > form{
    margin: 7px;
}

#input-boxes > form > .form-row > .col{
    margin: 5px;
}

.start-time, .end-time{
    width: 50%;
}

.add-new-input-box{
    width:70%;
}
.add-form{
    align-self: center;
}

.each-input-box{
    display: flex;
    justify-content: center;
}

.add-new-text{
    text-align: center;
    font-size: 2rem;
}

.update-container{
    display: grid;
    margin: 20px;
    padding: 10px;
}

.update-current-time-btn{
    width: 50%;
    place-self: center;
}

.time-update{
    margin: 10px;
}

.update-time-para{
    text-align: center;
    font-size: 2.4rem
}

.grey-background{
    background-color: rgb(232 232 232);
}
