@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date-time{
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}
.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.schedule-container {
    width: 100%;
    padding: 20px;
}

.headings {
    display: flex;
    justify-content: space-around;
    padding-right: 80px;
    font-size: 2rem;
}


.Tester-container {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: center;
    border-radius: 0px 30px 30px 0px;
}

.tester-time,
.tester-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

.tester-name {
    white-space: nowrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 100px;
    width: 100%;

}

.tester-time {
    height: 100px;
    width: 100%;
    margin: 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 0px;
    border-left: 2px solid black;
    padding: 20px;
}

.remove-btn {
    height: 100px;
    width: 90px;
    border: 2px solid black;
    background-color: #002f56;
    border-radius: 2px 25px 25px 2px;

}

.light-red-bg {
    background-color: #ffcfcf;
}


/* Buttons */
/* Reset button */
.reset-btn {
    width: 300px;

    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;


    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.reset-btn:hover {
    color: white;
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.reset-btn:focus {
    outline: none;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media only screen and (max-width: 600px) {
    .headings {
        padding: 0;
    }

    .Tester-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* grid-row-gap: 6px; */
        margin-bottom: 20px;
        border-radius: 0px 0px 37px 37px;
    }

    .remove-btn {
        grid-column: span 2;
        place-self: center;
        border-radius: 8px;
        width: 60%;
        height: 100%;
        align-self: center;
        margin: 12px;
        margin: 10px;
        height: 100%;
        border-radius: 2px 2px 30px 30px;
        grid-column: 2;
        width: 100%;
    }

    .tester-time,
    .tester-name {
        padding: 2px;
        font-size: 1.3rem;
    }
    .tester-time{
        border-right: 2px solid black;
    }
}