.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-container {
    width: 100%;
    padding: 20px;
}


.Tester-container {
    display: flex;
    width: 100%;
    padding: 5px;
    justify-content: center;
}

.tester-time,
.tester-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tester-name {
    white-space: nowrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 100px;
    width: 100%;
    font-size: 25px;
}

.tester-time {
    height: 100px;
    width: 100%;
    margin: 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 0px;
    border-left: 2px solid black;
    padding: 20px;
}

.remove-btn {
    height: 100px;
    width: 90px;
    border: 2px solid black;
    background-color: #002f56;
    border-radius: 2px 25px 25px 2px;
    
}

.light-red-bg{
    background-color: #ffa7a7;
}


/* Buttons */
/* Reset button */
.reset-btn {
    width: 300px;

    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;


    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.reset-btn:hover {
    color: white;
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.reset-btn:focus {
    outline: none;
}