@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap&family=Audiowide');

* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.7px;
}

nav {
  background: linear-gradient(262deg, #ff2a2a, #2d1b1b);
}

.navbar {
  padding-left: 4%;
  padding-right: 4%;
}


.navbar-dark .navbar-toggler {
  border-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

.nav-link {
  margin-right: 20px;
  margin-left: 20px;
}

h1 {
  font-family: 'Audiowide', cursive;
  padding: 30px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem!important;
  }
}